# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env

# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/
*.dump
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db